<%= form_with(model: info, local: true) do |form| %>
  <% if info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :First_name %>
    <%= form.text_field :First_name %>
  </div>

  <div class="field">
    <%= form.label :Last_name %>
    <%= form.text_field :Last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_field :Address %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :Age %>
    <%= form.number_field :Age %>
  </div>

  <div class="field">
    <%= form.label :PhoneNumber %>
    <%= form.text_field :PhoneNumber %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
