<!DOCTYPE html>
<html>
  <head>
    <style>
      table, td, th {
          border: 1px solid black;
          text-align: center;
      }

      table {
          border-collapse: collapse;
          width: 100%;
          border: solid black
      }

      th, td {
          padding: 15px;
      }

      
</style>
    <title>SAD Assignment 1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#d3dcd1">
    <%= yield %>
  </body>
</html>
